img {
  max-width: 100%;
}
a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: #000000;
}
//-------------------------------------------INDEX--------------------------------------------------
.titleButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 500px auto 500px auto;
}
h1 {
  font-family: Aclonica;
  font-size: 4vw;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
.h1Subtitle {
  margin: 0;
  font-style: italic;
}
h6 {
  color: $white;
  background-color: $darkBlue;
  padding: 10px 50px 10px 50px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin: 20px 0 0 0;
}
h5 {
  font-size: 20px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin-top: 15px;
}
header {
  display: flex;
  flex-direction: column;
}
//-------------------------------------------CREATE-------------------------------------------------
.formCreate {
  display: flex;
  flex-direction: column;
}
.submitButton {
  color: $white;
  background-color: $darkBlue;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  border: none;
}
.submitButton2 {
  margin: 0 0 0 5%;
}
.inputCreate {
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin: 5px 0 20px 0;
}
.titleButton2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 500px auto;
}
//----------------------------------------------UPDATE header--------------------------------------
.infoTitle {
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin-top: 100px;
}
.mouse {
  width: 17px;
  height: 27px;
  border-style: solid;
  border-radius: 60%;
  position: relative;

}
.wheel {
  height: 3px;
  background-color: $black;
  border-style: solid;
  border-radius: 60%;
  position: absolute;
  top: 1%;
  left: 5px;
}
.deleteLink {
  text-decoration: underline;
  font-size: small;
  position: absolute;
  right: 110px;
  top: 110px;

}
//----------------------------------------UPDATE section strategic plan-----------------------------
.strategicPlan {
  background-color: $darkBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.laurierW {
  width: 10%;
  margin-top: 60px;
}
.h1Plan {
  font-family: Aclonica;
  font-size: 4vw;
  font-weight: normal;
  color: #00000000;
  -webkit-text-stroke: 1px #fff;
  border-color: $white;
}
.diagTitle {
  color: $white;
}
h3 {
  font-family: Source_Sans_Pro;
}
.fa-angle-down {
  color: $white;
}
.arrowMargin {
  margin-bottom: 60px;
}

//---------------------------------------UPDATE section diagnostic-------------------------------------
.vase {
  width: 10%;
}
.vaseDiagnostic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.diagnosticForm {
  display: flex;
  justify-content: center;
}
.posNeg {
  width: 30%;
}
.titlePositif {
  text-align: center;
  letter-spacing: 12px;
  font-family: Source_Sans_Pro_Bold;
}
.titleRotate {
  transform: rotate(-90deg);
  letter-spacing: 12px;
  font-family: Source_Sans_Pro_Bold;
}
.divRotate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5%;
  padding-top: 130px;
}
.forces {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  padding: 10px 0;
}
h4  {
  margin: 10px;
}
.titleDiagnostic {
  color: $white;
  text-align: center;
  font-family: Source_Sans_Pro;
  font-weight: normal;
}
.titleFaiblesses {
  color: $black;
  text-align: center;
  font-family: Source_Sans_Pro;
  font-weight: normal;
}
.inputDiag {
  margin: 10px 20px;
  border: none;
}
.opportunites {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
}
.faiblesses {
  display: flex;
  flex-direction: column;
  background-color: $lightGrey;
  padding: 10px 0;
}
.menaces {
  display: flex;
  flex-direction: column;
  background-color: $darkGrey;
  padding: 10px 0;
}
.divButton {
  display: flex;
  justify-content: center;
  margin: 20px 0 120px;
}
hr {
  width: 50%;
  margin-bottom: 60px;
}
//-----------------------------UPDATE section Priorites et cibles marché prioritaires---------------------
.b2c {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  padding: 10px 0;
  width: 30%;
}
.mainB2c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titlePriority {
  text-align: center;
  font-family: Source_Sans_Pro;
  padding: 10px;
  border-style: solid;
}
.titlePriority2 {
  text-align: center;
}
.b2b {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  width: 30%;
}
.submitButtonMarket {
  color: $white;
  background-color: $darkBlue;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin: 20px 0 60px 0;
  border: none;
}
//-----------------------------UPDATE section Priorites et cibles produits prioritaires------------------
.divProduct {
  display: flex;
  flex-direction: column;
}
.titlePriorityDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.threeProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
.productA {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 0 5px 0 0;
}
.productB {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 0 5px 0 5px;
}
.productC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 0 0 0 5px;
}
.A {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  background-color: $darkBlue;
}
.B {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  background-color: $purple;
}
.C {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  background-color: $lightGrey;
}
.divButtonProducts {
  display: flex;
  justify-content: center;
}
//--------------------------------------PERSONA-----------------------------------------------------------
.titlePriority3 {
  text-align: center;
  font-family: Source_Sans_Pro;
  padding: 10px 80px;
  border-style: solid;
  margin: 10px 10px 30px 10px;
}
.persona {
  width: 90%;
  border-style: solid;
  border-color: $purple;
}
.titlePersona{
  color: $purple;
  font-family: Source_Sans_Pro;
}
.bandName {
  background-color: $purple;
  padding: 1% 3%;
}
#personaName {
  border: none;
}
.threePersonaDivs {
  display: flex;
}
.divPersona1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1% 2%;
}
.divPersona2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 1% 3%;
}
.bio {
  background-color: $purple;
  margin-top: 40px;
  padding: 10px;
}
.bioTitle {
  font-family: Source_Sans_Pro;
  color: $white;
  margin: 0 0 10px 0;
}
#bio {
  max-width: 99%;
}
.divPersona3 {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 1% 3%;
}
.errorDiv3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rowPersona {
  display: flex;
  justify-content: space-between;
  font-family: Source_Sans_Pro;
}
.introvertiLabel {
  text-align: left;
}
.extravertiLabel {
  text-align: right;
}
.threeBrands {
  display: flex;
  flex-direction: column;
}
.inputTrait {
  margin: 5px;
  border-color: $purple;
  border-style: solid;
}
.traits2 {
  margin-bottom: 40px;
}
.labelPhoto {
  margin-top: 40px;
}
.inputPhoto {
  margin-bottom: 40px;
}
.labelColor {
  color: $purple;
  font-family: Source_Sans_Pro;
}
#quote {
  border-style: solid;
  border-color: $purple;
}
.div3Margin {
  margin-bottom: 5px;
}
.rangeMotivations {
  margin-bottom: 20px;
}
.labelDiv3 {
  font-family: Source_Sans_Pro;
}
.hrPriority {
  margin-top: 60px;
}
//----------------------------------------MIX MARKETING---------------------------------------------
.divMix {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

}
.produit {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  padding: 10px 0;
  width: 40%;
}
.prix {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $lightGrey;
  padding: 10px 0;
  width: 40%;
}
.distribution {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0 130px 0;
  width: 40%;
}
.communication {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $darkGrey;
  padding: 10px 0;
  width: 40%;
}
.inputLenght {
  max-width: 50%;
}
.inputLenght2 {
  min-width: 50%;
  max-width: 50%;
}
.mixCircle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-style: solid;
  border-color: $white;
  background-color: #00000000;
  position: absolute;
  z-index: 1;
  top: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleMix {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0;
}
.mixH3 {
  text-align: right;
}
.buttonMix {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
//-----------------------------------------------READ DIAGNOSTIC------------------------------------------
.divDiagRead {
  display: flex;
  flex-direction: column;
}
.echoP {
  margin: 10px 20px;
  padding: 1px 2px;
  color: white;
  font-family: Source_Sans_Pro;
}
.echoP2 {
  margin: 10px 20px;
  padding: 1px 2px;
  color: black;
  font-family: Source_Sans_Pro;
}
.echoP3 {
  margin: 10px 20px;
  padding: 1px 2px;
  color: $purple;
  font-family: Source_Sans_Pro;
}
.echoP4 {
  color: $purple;
  font-family: Source_Sans_Pro;
}
.introvertiLabel2 {
  text-align: left;
  color: $purple;
  font-family: Source_Sans_Pro;
}
.extravertiLabel2 {
  text-align: right;
  color: $purple;
  font-family: Source_Sans_Pro;
}