img {
  max-width: 100%;
}
//-------------------------------------------INDEX--------------------------------------------------
.titleButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 500px auto 500px auto;
}
h1 {
  font-family: Aclonica;
  font-size: 4vw;
  font-weight: normal;
  color: #00000000;
  -webkit-text-stroke: 1px #000;
}
h6 {
  color: $white;
  background-color: $darkBlue;
  padding: 10px 50px 10px 50px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin: 20px 0 0 0;
}
h5 {
  font-size: 20px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin-top: 15px;
}
header {
  display: flex;
  flex-direction: column;
}
//-------------------------------------------CREATE-------------------------------------------------
.formCreate {
  display: flex;
  flex-direction: column;
}
.submitButton {
  color: $white;
  background-color: $darkBlue;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin: 0 0 0 5%;
  border: none;
}
.inputCreate {
  color: $white;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin: 5px 0 20px 0;
}
.titleButton2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px auto 500px auto;
}
//----------------------------------------------UPDATE header--------------------------------------
.infoTitle {
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin-top: 200px;
}
.mouse {
  width: 17px;
  height: 27px;
  border-style: solid;
  border-radius: 60%;
  position: relative;
}
.wheel {
  height: 3px;
  background-color: $black;
  border-style: solid;
  border-radius: 60%;
  position: absolute;
  top: 1%;
  left: 35%;
}
//----------------------------------------UPDATE section strategic plan-----------------------------
.strategicPlan {
  background-color: $darkBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.laurierW {
  width: 10%;
  margin-top: 60px;
}
.h1Plan {
  font-family: Aclonica;
  font-size: 4vw;
  font-weight: normal;
  color: #00000000;
  -webkit-text-stroke: 1px #fff;
  border-color: $white;
}
.diagTitle {
  color: $white;
}
h3 {
  font-family: Source_Sans_Pro;
}
.fa-angle-down {
  color: $white;
}
.h3Mix {
  margin-bottom: 60px;
}
//---------------------------------------UPDATE section diagnostic----------------------------------------
.vase {
  width: 10%;
}
.vaseDiagnostic {
  display: flex;
  flex-direction: column;
  align-items: center;
margin-top: 60px;
}
.diagnosticForm {
  display: flex;
  justify-content: center;
}
.posNeg {
  width: 30%;
}
.titlePositif {
  text-align: center;
  letter-spacing: 12px;
  font-family: Source_Sans_Pro_Bold;
}
.titleRotate {
  transform: rotate(-90deg);
  letter-spacing: 12px;
  font-family: Source_Sans_Pro_Bold;
}
.divRotate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5%;
  padding-top: 130px;
}
.forces {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  padding: 10px 0;
}
h4  {
  margin: 10px;
}
.titleDiagnostic {
  color: $white;
  text-align: center;
  font-family: Source_Sans_Pro;
  font-weight: normal;
}
.titleFaiblesses {
  color: $black;
  text-align: center;
  font-family: Source_Sans_Pro;
  font-weight: normal;
}
.inputDiag {
  margin: 10px 20px;
  border: none;
}
.opportunites {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
}
.faiblesses {
  display: flex;
  flex-direction: column;
  background-color: $lightGrey;
  padding: 10px 0;
}
.menaces {
  display: flex;
  flex-direction: column;
  background-color: $darkGrey;
  padding: 10px 0;
}
.divButton {
  display: flex;
  justify-content: center;
  margin: 20px 0 120px;
}
hr {
  width: 50%;
  margin-bottom: 60px;
}
//-----------------------------UPDATE section Priorites et cibles marché prioritaires---------------------
.b2c {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  padding: 10px 0;
  width: 30%;
}
.mainB2c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titlePriority {
  text-align: center;
  font-family: Source_Sans_Pro;
  padding: 10px;
  border-style: solid;
}
.titlePriority2 {
  text-align: center;
}
.b2b {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  width: 30%;
}
.submitButtonMarket {
  color: $white;
  background-color: $darkBlue;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Source_Sans_Pro;
  font-weight: normal;
  margin: 20px 0 60px 0;
  border: none;
}
//-----------------------------UPDATE section Priorites et cibles produits prioritaires---------------------
.divProduct {
  display: flex;
  flex-direction: column;
}
.titlePriorityDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.threeProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
.productA {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 0 5px 0 0;
}
.productB {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 0 5px 0 5px;
}
.productC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 0 0 0 5px;
}
.A {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  background-color: $darkBlue;
}
.B {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  background-color: $purple;
}
.C {
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 10px 0;
  background-color: $lightGrey;
}
.divButtonProducts {
  display: flex;
  justify-content: center;
}
//--------------------------------------PERSONA-----------------------------------------------------------
.titlePriority3 {
  text-align: center;
  font-family: Source_Sans_Pro;
  padding: 10px 80px;
  border-style: solid;

}