// Variables Fonts
$titleFont: Aclonica;
$mainFont: Source_Sans_Pro;
$mainFontBold: Source_Sans_Pro_Bold;

//Variables Couleurs

$darkBlue: #172A3A;
$purple: #6369D1;
$lightGrey: #D8D2E1;
$darkGrey: #A29DAA;
$black: #000000;
$white: #FFFFFF;